Just some code you can read and run cell by cell, if you prefer.

Course is available by the slides: https://docs.google.com/presentation/d/18l8GbRg-UqZPtR6IVwtRFy79JD777Gzk1JccUFRYIGo/edit?usp=sharing 

Slides from the Hackaton: https://docs.google.com/presentation/d/1ZAlQLosDhvgHEru3dN7u4JzBA5aot_Jxi8nw3Qoo8Kg/edit?usp=sharing 

## Environment variables

In [ ]:
import os

usr = os.environ.get("SQL_USR")
pwd = os.environ.get("SQL_PWD")
usr

In [ ]:
# os.environ is a dictionnary of your environment variables
os.environ

In [ ]:
# you can use .get on regular dictionnary
{"chat": 42}.get("chat")

In [ ]:
# it will not raise error if it does not exist
{"chat": 42}.get("dog")

In [ ]:
# another way to get env var
os.getenv("SQL_USR")

# SQL

## How To

* Get mysql https://dev.mysql.com/downloads/mysql/ 
* How to connect with mysql, command-line : https://dev.mysql.com/doc/refman/5.7/en/tutorial.html


If you have mysql installed and initalized a database with user root, you should be able to connect with
`mysql -u root -p` and will be prompted for you password.

If succesful, you should see some text and a prompt **`[mysql>`**

Once you're in there, you can create a non-root user for this database, for example:

`CREATE USER 'chaton'@'localhost' IDENTIFIED BY 'chaton42';`

And use this user (chaton) and password (chaton42) to connect to your database.

Don't forget to also create a database inside it:

`CREATE DATABASE cats_base;`

And gives privilege to your user:

`GRANT SELECT, INSERT, DELETE ON cats_base.* TO chaton@'localhost';`

In [ ]:
import mysql.connector

In [ ]:
connection = mysql.connector.connect(host='localhost',
                                     database="cats_base",
                                     user=usr,
                                     password=pwd)

print(connection)  # No error == active connection!

In [ ]:
query = "SELECT VERSION(), CURRENT_DATE;"

cursor = connection.cursor()
cursor.execute(query)
cursor.fetchall()

## Create `cats` database

In [ ]:
query = """
    DROP TABLE CATS;"""
cursor = connection.cursor()
cursor.execute(query)  # No output = success!

In [ ]:
query = """
    CREATE TABLE cats (  
    id INTEGER PRIMARY KEY AUTO_INCREMENT NOT NULL,  
    name VARCHAR(20) NOT NULL,  
    eye_color VARCHAR(10) NOT NULL,  
    coat_color VARCHAR(10) NOT NULL
    );
    """
cursor = connection.cursor()
cursor.execute(query)  # No output = success!

In [ ]:
query = 'INSERT INTO cats VALUES (NULL, "Moufassa", "black", "black");'
#cursor = connection.cursor()
cursor.execute(query)  # No output = success!

In [ ]:
query = "SELECT * FROM cats;"

cursor = connection.cursor()
cursor.execute(query)
cursor.fetchall()

## Populate `cats` database

In [ ]:
# Now that everything works, let's generate a lot of cats.
# (The generator from chapter03 has been reused)

import random 

possible_values = {
    "Names": ["Tigrou", "Caramel", "Felix", "Simba", "Garfield", "Berlioz",
              "Moustache", "Moufassa", "AzraÃ«l", "Sylvestre", "Oggy", "Rouky"],
    "EyeColor": ["cyan", "lime", "black", "sienna", "gold"],
    "CoatColor": ["orange", "black"],
}

nb_cats = 10
for i in range(nb_cats):
    cat_sample = []
    for col, values in possible_values.items():
        cat_sample.append(random.choice(values))
    query = 'INSERT INTO cats VALUES (NULL, %s, %s, %s);'
    cursor.execute(query, cat_sample)
    # ^ notice how we used %s with arguments in a second variable.
    # this is called a Parameterized Query.

In [ ]:
query = "SELECT * FROM cats;"

cursor = connection.cursor()
cursor.execute(query)
cursor.fetchall()

Want to know more?

* https://pynative.com/python-mysql-select-query-to-fetch-data/